# Sunucu
DATABASE_URL="postgresql://lordlar:lordlar@localhost:5432/lordlar_cagi"
JWT_SECRET="degistir-bunu-en-az-32-karakterlik-rastgele-bir-dize"
PORT=3000
NODE_ENV=development

# Arayüz
VITE_API_URL="http://localhost:3000"
